
car_classifier/experiments/*
venv/*
.idea/*
*.pyc
*.pclprof
car_classifier/wandb/*
*.pyc
*.pyc
filtering_classifier/out.txt
car_classifier/dataNumbers.json
car_classifier/dataNew.json
car_classifier/dataClass.json
filtering_classifier/model.pth
